<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/themes/start/jquery-ui-1.10.3.custom.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/prettify-small-1-Jun-2011/google-code-prettify/prettify.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/Highstock/code/css/highcharts.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-2.0.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")" type="text/javascript"></script>
    <!-- <script src="@Url.Content("~/Scripts/Highcharts-6.1.4/code/js/highcharts.src.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Highcharts-6.1.4/code/js/highcharts-more.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Highcharts-6.1.4/code/js/modules/funnel.js")" type="text/javascript"></script> -->
    <script src="@Url.Content("~/Scripts/Highstock/code/js/highstock.src.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Highstock/code/js/highcharts-more.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Highstock/code/js/modules/funnel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Highstock/code/js/modules/data.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/core.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/prettify-small-1-Jun-2011/google-code-prettify/prettify.js")" type="text/javascript"></script>
</head>
<body onload="prettyPrint()">
    <div class="page">
        <header>
            <div id="title">
                <h1>DotNet.Highcharts</h1>
            </div>
            <div id="logindisplay">
                &nbsp;
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Demo", "BasicLine", "Demo")</li>
                    <li>@Html.ActionLink("How To's", "MultipleXAxes", "HoTos")</li>
                </ul>
            </nav>
        </header>
        <section id="main">
            <div style="float: left; width: 20%">
                <div id="accordion">
                    <h3>
                        <a href="#">Line charts</a></h3>
                    <div data-panel-index="0">
                        @Html.ActionLink("Basic Line", "BasicLine", "Demo")
                        @Html.ActionLink("Ajax loaded data, clickable points", "AjaxLoad", "Demo")
                        @Html.ActionLink("With data labels", "DataLabels", "Demo")
                        @Html.ActionLink("Time series, zoomable", "TimeSeriesZoomable", "Demo")
                        @Html.ActionLink("Spline with inverted axes", "SplineInvertedAxes", "Demo")
                        @Html.ActionLink("Spline with symbols", "SplineWithSymbols", "Demo")
                        @Html.ActionLink("Spline with plot bands", "SplineWithPlotBands", "Demo")
                        @Html.ActionLink("Time data with inrregular intervals", "TimeDataWithInrregularIntervals", "Demo")
                        @Html.ActionLink("Logarithmic Axis", "LogarithmicAxis", "Demo")
                    </div>
                    <h3>
                        <a href="#">Area charts</a></h3>
                    <div data-panel-index="1">
                        @Html.ActionLink("Basic area", "BasicArea", "Demo")
                        @Html.ActionLink("Area with negative values", "AreaWithNegativeValues", "Demo")
                        @Html.ActionLink("Stacked area", "StackedArea", "Demo")
                        @Html.ActionLink("Percentage area", "PercentageArea", "Demo")
                        @Html.ActionLink("Area with missing points", "AreaWithMissingPoints", "Demo")
                        @Html.ActionLink("Inverted axes", "InvertedAxes", "Demo")
                        @Html.ActionLink("Area-spline", "AreaSpline", "Demo")
                        @Html.ActionLink("Area Range Chart", "AreaRangeChart", "Demo")
                        @Html.ActionLink("Area Spline Range Chart", "AreaSplineRangeChart", "Demo")
                    </div>
                    <h3>
                        <a href="#">Column and bar charts</a></h3>
                    <div data-panel-index="2">
                        @Html.ActionLink("Basic bar", "BasicBar", "Demo")
                        @Html.ActionLink("Stacked bar", "StackedBar", "Demo")
                        @Html.ActionLink("Bar with negotive stack", "BarWithNegotiveStack", "Demo")
                        @Html.ActionLink("Basic column", "BasicColumn", "Demo")
                        @Html.ActionLink("Column with negative values", "ColumnWithNegativeValues", "Demo")
                        @Html.ActionLink("Stacked column", "StackedColumn", "Demo")
                        @Html.ActionLink("Stacked and grouped column", "StackedAndGroupedColumn", "Demo")
                        @Html.ActionLink("Stacked percentage column", "StackedPercentageColumn", "Demo")
                        @Html.ActionLink("Column with rotated labels", "ColumnWithRotatedLabels", "Demo")
                        @Html.ActionLink("Column with drilldown", "ColumnWithDrilldown", "Demo")
                        @Html.ActionLink("Column Range", "ColumnRange", "Demo")
                    </div>
                    <h3>
                        <a href="#">Pie charts</a></h3>
                    <div data-panel-index="3">
                        @Html.ActionLink("Pie chart", "PieChart", "Demo")
                        @Html.ActionLink("Pie with gradient fill", "PieWithGradientFill", "Demo")
                        @Html.ActionLink("Donut chart", "DonutChart", "Demo")
                        @Html.ActionLink("Pie with legend", "PieWithLegend", "Demo")
                    </div>
                    <h3>
                        <a href="#">Scatter and bubble charts</a></h3>
                    <div data-panel-index="4">
                        @Html.ActionLink("Scatter Plot", "ScatterPlot", "Demo")
                        @Html.ActionLink("Bubble Chart", "BubbleChart", "Demo")
                        @Html.ActionLink("Bubbles 3D", "Bubbles3D", "Demo")
                    </div>
                    <h3>
                        <a href="#">Dynamic charts</a></h3>
                    <div data-panel-index="5">
                        @Html.ActionLink("Spline update each second", "SplineUpdateEachSecond", "Demo")
                        @Html.ActionLink("Click to add a point", "ClickToAddPoint", "Demo")
                    </div>
                    <h3>
                        <a href="#">Combinations</a></h3>
                    <div data-panel-index="6">
                        @Html.ActionLink("Column, line and pie", "ColumnLineAndPie", "Demo")
                        @Html.ActionLink("Dual axes, line and column", "DualAxesLineAndColumn", "Demo")
                        @Html.ActionLink("Multiple axes", "MultipleAxes", "Demo")
                        @Html.ActionLink("Scatter plot with regression line", "ScatterPlotWithRegressionLine", "Demo")
                    </div>
                    <h3>
                        <a href="#">More chart types</a></h3>
                    <div data-panel-index="7">
                        @Html.ActionLink("Angular Gauge", "AngularGauge", "Demo")
                        @Html.ActionLink("GaugeWith Dual Axes", "GaugeWithDualAxes", "Demo")
                        @Html.ActionLink("Polar Chart", "PolarChart", "Demo")
                        @Html.ActionLink("Speederweb", "Speederweb", "Demo")
                        @Html.ActionLink("Box Plot", "BoxPlot", "Demo")
                        @Html.ActionLink("Waterfall", "Waterfall", "Demo")
                        @Html.ActionLink("Funnel", "Funnel", "Demo")
                    </div>
                    <h3>
                        <a href="#">Highstock<br />General</a></h3>
                    <div data-panel-index="8">
                        @Html.ActionLink("Highstock Basic Line", "HighstockBasicLine", "HighstockDemo")
                        @Html.ActionLink("Two panes, candlestick and volume", "HighstockCandlestickVolume", "HighstockDemo")
                        @Html.ActionLink("Compare Multiple Series", "HighstockCompare", "HighstockDemo")
                        @Html.ActionLink("Dynamically updated data", "HighstockDynamicUpdate", "HighstockDemo")
                    </div>
                    <h3>
                        <a href="#">Highstock<br />Chart Types</a></h3>
                    <div data-panel-index="9">
                        @Html.ActionLink("Highstock Line with markers and shadow", "HighstockLineMarkers", "HighstockDemo")
                        @Html.ActionLink("Highstock Spline", "HighstockSpline", "HighstockDemo")
                        @Html.ActionLink("Highstock Step Line", "HighstockStepLine", "HighstockDemo")
                        @Html.ActionLink("Highstock Area", "HighstockArea", "HighstockDemo")
                        @Html.ActionLink("Highstock Area Spline", "HighstockAreaSpline", "HighstockDemo")
                        @Html.ActionLink("Highstock Area Range", "HighstockAreaRange", "HighstockDemo")
                        @Html.ActionLink("Highstock Area Spline Range", "HighstockAreaSplineRange", "HighstockDemo")
                        @Html.ActionLink("Highstock Candlestick", "HighstockCandlestick", "HighstockDemo")
                        @Html.ActionLink("Highstock OHLC", "HighstockOHLC", "HighstockDemo")
                        @Html.ActionLink("Highstock Column", "HighstockColumn", "HighstockDemo")
                        @Html.ActionLink("Highstock Column Range", "HighstockColumnRange", "HighstockDemo")
                        @Html.ActionLink("Highstock Point Markers Only", "HighstockMarkersOnly", "HighstockDemo")
                    </div>
                    <h3>
                        <a href="#">Highstock<br />Various features</a></h3>
                    <div data-panel-index="10">
                        @Html.ActionLink("Highstock Plot lines on Y axis", "HighstockYAxisPlotLines", "HighstockDemo")
                        @Html.ActionLink("Highstock Plot bands on Y axis", "HighstockYAxisPlotBands", "HighstockDemo")
                        @Html.ActionLink("Highstock Reversed Y axis", "HighstockYAxisReversed", "HighstockDemo")
                        @Html.ActionLink("Highstock Styled Scrollbar", "HighstockStyledScrollbar", "HighstockDemo")
                        @Html.ActionLink("Highstock Disabled Scrollbar", "HighstockScrollbarDisabled", "HighstockDemo")
                        @Html.ActionLink("Highstock Disabled Navigator", "HighstockNavigatorDisabled", "HighstockDemo")
                    </div>
                    <h3>
                        <a href="#">Highstock<br />Flags</a></h3>
                    <div data-panel-index="11">
                        @Html.ActionLink("Highstock Flags Placement", "HighstockFlagsPlacement", "HighstockDemo")
                    </div>
                </div>
            </div>
            <div style="float: left; width: 79%; padding-left:10px">
                @RenderBody()
            </div>
            <div style="clear: both">
            </div>
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
